{% extends 'home.html' %}
{% set active_page = 'account_info' %}

{% block title %}Account info{% end %}


{% block content %}
<div class="row">
    <div class="row margin-bottom-sm-1">
        <h3 class="pull-left">Account info</h3>
    </div>
    {% if user %}
        <div class="row col-sm-6">
            <div class="row margin-bottom-sm-1">
                <h4>{{ user['first_name'] }} {{ user['last_name'] }}</h4>
    
            </div>
            <div class="row margin-bottom-sm-1">
                <div class="col-sm-3 no-padding">Email:</div>
                <div class="col-sm-9 no-padding">{{ user['email'] }}</div>
            </div>
            <div class="row margin-bottom-sm-1">
                <div class="col-sm-3 no-padding">Group:</div>
                <div class="col-sm-9 no-padding">КИ-11-4</div>
            </div>
        </div>
    <div class="row col-sm-6 text-center">
        <img src="{{ user['image_url'] }}" height="160">
    </div>
    {% end %}
</div>

{% end %}

{% block bottom_scripts %}
<script>
    $(document).ready(function () {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

//Click dropdown
        panelsButton.click(function () {
//get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

//current button
            var currentButton = $(this);
            idFor.slideToggle(400, function () {
//Completed slidetoggle
                if (idFor.is(':visible')) {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });


        $('[data-toggle="tooltip"]').tooltip();

        $('button').click(function (e) {
            e.preventDefault();
            alert("This is a demo.\n :-)");
        });
    });
</script>
{% end %}